.logo {
    height: 77px;
}

.navBody {
    background-color: bisque;
    margin: 0px auto;
    width: 100%;
    padding: 0 30px;
    position: fixed;
}

.nava {
    display: inline-block;
    margin: 17.5px 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}